<div class="comment-item">
    <div class="ui grid">
        <div class="four wide column">
            <a href="" class="avatar" data-title={{this.author.name}} data-content={{this.author.bio}}><img class="avatar" src="/images/{{this.author.avatar}}"></a>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <pre>{{this.content}}</pre>
            </div>
        </div>
    </div>
</div>

