{{> background}}
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label>чФицИ╖хРН</label>
                <input placeholder="чФицИ╖хРН" name="name">
            </div>
            <div class="field required">
                <label>хпЖчаБ</label>
                <input placeholder="хпЖчаБ" name="password" type="password">
            </div>
            <div class="field required">
                <label>чбошодхпЖчаБ</label>
                <input placeholder="чбошодхпЖчаБ" name="repassword" type="password">
            </div>
            <div class="field required">
                <label>bio</label>
                <input placeholder="bio" name="bio">
            </div>
            <div class="field required">
                <label>цАзхИл</label>
                <select name="gander" class="ui selection dropdown">
                    <option value="m">хЯ║ф╜мЁЯШп</option>
                    <option value="f">хж╣хШдЁЯШЭ</option>
                </select>
            </div>
            <div class="field required">
                <label>хд┤хГП</label>
                <input type="file" name="avatar">
            </div>
            <input type="submit" class="ui button fluid" value="ц│ихЖМ"/>
        </form>
    </div>
</div>